services:
  pwa:
    build:
      dockerfile: pwa.Dockerfile
      ssh:
        - default
      target: dev
    profiles: [dev]
    container_name: pwa
    volumes:
      # Mount app directory
      - ./pwa:/usr/local/src/app

      # Store package manager cache in vagrant
      - ~/data/pnpm:/var/cache/pnpm

      # Entrypoint scripts to run only locally (install deps, etc.)
      - ./pwa/.docker/rootfs-dev/usr/local/bin/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh
      - ./pwa/.docker/rootfs-dev/docker-entrypoint.d/10_install-deps.sh:/docker-entrypoint.d/10_install-deps.sh
      #- ./pwa/.docker/rootfs-local/docker-entrypoint.d/20_build.sh:/docker-entrypoint.d/20_build.sh
    depends_on:
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.pwa.entrypoints: websecure
      traefik.http.routers.pwa.rule: Host(`weleda-webcenter-text-export.test`)
      traefik.http.routers.pwa.tls: true

  pwa-prod:
    build:
      dockerfile: pwa.Dockerfile
      ssh:
        - default
      target: prod
    profiles: [prod]
    container_name: pwa-prod
    depends_on:
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.pwa.entrypoints: websecure
      traefik.http.routers.pwa.rule: Host(`weleda-webcenter-text-export.test`)
      traefik.http.routers.pwa.tls: true

  traefik:
    image: traefik
    init: true
    command:
      - --api.insecure=true
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.directory=/etc/traefik/dynamic_conf
      - --providers.file.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.permanent=true
      - --entrypoints.websecure.address=:443
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./.docker/certs:/etc/ssl/certs/local:ro
      - ./.docker/rootfs-local/traefik/etc/traefik/dynamic_conf/conf.yml:/etc/traefik/dynamic_conf/conf.yml:ro
    labels:
      traefik.enable: true
      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`traefik.weleda-webcenter-text-export.test`)
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.service: api@internal
