services:
  pwa:
    build:
      dockerfile: pwa.Dockerfile
      ssh:
        - default
      target: dev
    init: true
    container_name: pwa
    volumes:
      # Mount app directory
      - ./pwa:/usr/local/src/app

      # Store package manager cache in vagrant
      - ~/data/pnpm:/var/cache/pnpm

      # Disable nginx process and use vite dev server
      - ./.docker/rootfs-local/empty.txt:/etc/supervisor/conf.d/nginx.conf
      - ./pwa/.docker/rootfs-local/etc/supervisor/conf.d/vite-dev-server.conf:/etc/supervisor/conf.d/vite-dev-server.conf

      # Entrypoint scripts to run only locally (install deps, etc.)
      - ./pwa/.docker/rootfs-local/docker-entrypoint.d/10_install-deps.sh:/docker-entrypoint.d/10_install-deps.sh
      #- ./pwa/.docker/rootfs-local/docker-entrypoint.d/20_build.sh:/docker-entrypoint.d/20_build.sh
    depends_on:
      - traefik
    labels:
      traefik.enable: true

      traefik.http.routers.pwa0.entrypoints: web
      traefik.http.routers.pwa0.rule: Host(`weleda-webcenter-text-export.test`)
      traefik.http.routers.pwa0.middlewares: redirect-to-https

      traefik.http.routers.pwa.entrypoints: websecure
      traefik.http.routers.pwa.rule: Host(`weleda-webcenter-text-export.test`)
      traefik.http.routers.pwa.tls: true

  traefik:
    image: traefik
    init: true
    command:
      - --api.insecure=true
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.directory=/etc/traefik/dynamic_conf
      - --providers.file.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./.docker/certs:/etc/ssl/certs/local:ro
      - ./.docker/rootfs-local/traefik/etc/traefik/dynamic_conf/conf.yml:/etc/traefik/dynamic_conf/conf.yml:ro
    labels:
      traefik.enable: true

      traefik.http.routers.traefik0.entrypoints: web
      traefik.http.routers.traefik0.rule: Host(`traefik.weleda-webcenter-text-export.test`)
      traefik.http.routers.traefik0.middlewares: redirect-to-https

      traefik.http.routers.traefik.entrypoints: websecure
      traefik.http.routers.traefik.rule: Host(`traefik.weleda-webcenter-text-export.test`)
      traefik.http.routers.traefik.tls: true
      traefik.http.routers.traefik.service: api@internal

      traefik.http.middlewares.redirect-to-https.redirectscheme.scheme: https
      traefik.http.middlewares.redirect-to-https-perm.redirectscheme.scheme: https
      traefik.http.middlewares.redirect-to-https-perm.redirectscheme.permanent: true
